html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
	line-height: 1;
}

/* OWN STYLES*/

.square-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 300px;
  height: 300px;
}

.square {
	position: absolute;
	width: 100px;
	height: 100px;
}
  
.square1 {
	background-color: #e68aa6;
	transform: translate(0, 0);
}
  
.square2 {
	background-color: #5a8fd9;
	transform: translate(50%, 50%);
	z-index: 1;
}
  
.square3 {
	background-color: #6bc997;
	transform: translate(100%, 100%);
}