/* Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* OWN STYLES */

body,
html {
  height: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(184, 159, 18);
  width: 100%;
}

.logo {
    width: 13%;
    padding: 25px;
}

.nav-menu {
    display: flex;
    flex-direction: row;
    font-size: 15px;
    gap: 0 10px;
    padding: 25px;
}

.wrap {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.main-container {
    display: flex;
    flex: 1 1 auto;
}

.main {
    display: flex;
    flex-grow: 2;
    order: 2;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    min-height: 100vh;
}

.container-box {
    display: flex;
    flex-direction: column;
  }

.container-box_text {
    text-align: center;
    margin-top: 20px;
    line-height: 20px;
}
  
.container-box_header {
    text-align: center;
    margin-top: 20px;
    font-weight: 700;
}

.container-box_wrap {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 10px 20px 10px;
    justify-content: center;
    gap: 15px 15px;
}

.container-box_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    border: 2px solid rgb(128, 83, 128);
    border-radius: 15px;
    max-width: 270px;
    min-height: 310px;
}

.container-box_content:hover {
    color: rgb(227, 188, 81);
}

.container-box_content img {
    margin-top: 5%;
    width: 60px;
    height: 60px;
    border: 8px solid rgb(203, 124, 33);
    border-radius: 100px;
}

.container-box_content p {
    margin-top: 5%;
    font-weight: 600;
}

.container-box_content span {
    margin-top: 5%;
    line-height: 20px;
}

button {
    display: inline-block;
    text-decoration: none;
    padding: 10px 20px;
    color: white;
    background-color: rgb(219, 130, 42);
    border-radius: 50px;
    margin-bottom: 15px;
}

.left-sidebar {
    display: flex;
    justify-content: center;
    order: 1;
    min-width: 210px;
    background-color: rgb(221, 160, 221);
}

.left-sidebar p {
    padding: 15px;
}

.right-sidebar {
    display: flex;
    justify-content: center;
    order: 3;
    min-width: 210px;
    background-color: rgb(126, 153, 172);
}

.right-sidebar p {
    padding: 15px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(149, 245, 140);
}

footer p {
    padding: 15px;
}
